process {
    // cpus = 4
    cleanup = true
}

params {
    threads = 40
}

profiles {

  // conda profile (for development/testing)
  conda {
    conda.enabled = true
    conda.cacheDir = "$launchDir/conda_envs"
    conda.useMamba = true
    process {
      withName:VIRSORTER            { container = 'bioconda::virsorter=2.2.4' }
      withName:GENOMAD_END_TO_END   { container = 'bioconda::genomad=1.9.0' }
      withName:COMBINE_VS2_GENOMAD  { container = 'conda-forge::python=3.11 pandas' }
      withName:FILTER_VS2_GENOMAD   { container = 'bioconda::seqkit=2.10.1' }
      withName:CHECKV_END_TO_END    { container = 'bioconda::checkv=1.0.3' }
      withName:FILTER_CHECKV        { container = 'bioconda::seqkit=2.10.1' }
      withName:CLUSTERING           { container = 'bioconda::checkv=1.0.3' }

    }
  }

    // Use Docker images
  docker {
    docker.enabled = true
    process.container = 'ubuntu:22.04'   // optional global default
    // Per-process images:
    process {
      withName:VIRSORTER           { container = 'biocontainers/virsorter2:2.2.3--pyhdfd78af_0' }
      withName:GENOMAD_END_TO_END  { container = 'biocontainers/genomad:1.9.0--pyhdfd78af_0' }
    }
  }

  // Use Singularity/Apptainer images
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir   = "${baseDir}/.singularity"
    // singularity.pull_docker_container = true
    // either registry images (above) or local .sif; uncomment if you keep local SIFs:
    process {
      withName:VIRSORTER            { container = '/fs/project/PAS1117/modules/singularity/VirSorter2-2.2.3.sif' }
      withName:GENOMAD_END_TO_END   { container = '/fs/project/PAS1117/modules/singularity/GeNomad-1.9.0.sif' }
      withName:EXTRACT_CONTIGS   { container = '/fs/project/PAS1117/modules/singularity/seqkit-2.10.0.sif' }
      withName:CHECKV_END_TO_END    { container = '/fs/project/PAS1117/modules/singularity/CheckV-1.0.3-updated.sif' }
      withName:FILTER_CHECKV        { container = '/fs/project/PAS1117/modules/singularity/seqkit-2.10.0.sif' }
      withName:CLUSTERING           { container = '/fs/project/PAS1117/modules/singularity/CheckV-0.8.1-ClusterONLY.sif' }
      withName:METAPOP_MICRODIVERSITY { container = '/fs/project/PAS1117/ricardo/virion3/conf/metapop/metapop.sif' }
      // withName:COVERM_ABUNDANCE     { container = 'fs/project/PAS1117/modules/singularity/CoverM-0.6.1.sif' }
    }
  }

  apptainer {
    apptainer.enabled = true
    process {
      withName:VIRSORTER            { container = '/fs/project/PAS1117/modules/singularity/VirSorter2-2.2.3.sif' }
      withName:GENOMAD_END_TO_END   { container = '/fs/project/PAS1117/modules/singularity/GeNomad-1.9.0.sif' }
      withName:EXTRACT_CONTIGS   { container = '/fs/project/PAS1117/modules/singularity/seqkit-2.10.0.sif' }
      withName:CHECKV_END_TO_END    { container = '/fs/project/PAS1117/modules/singularity/CheckV-1.0.3-updated.sif' }
      withName:FILTER_CHECKV        { container = '/fs/project/PAS1117/modules/singularity/seqkit-2.10.0.sif' }
      withName:CLUSTERING           { container = '/fs/project/PAS1117/modules/singularity/CheckV-0.8.1-ClusterONLY.sif' }
      withName:METAPOP_MICRODIVERSITY { container = '/fs/project/PAS1117/ricardo/virion3/conf/metapop/metapop.sif' }
      // withName:COVERM_ABUNDANCE     { container = 'fs/project/PAS1117/modules/singularity/CoverM-0.6.1.sif' }
    }
}

  slurm {
        process.executor      = 'slurm'
        process.clusterOptions = '--account=PAS1117'
    }
}

includeConfig 'conf/base.config'

timeline { enabled = true; overwrite = true; file = "${params.outdir}/pipeline_info/timeline.html" }
report   { enabled = true; overwrite = true; file = "${params.outdir}/pipeline_info/report.html" }
trace    { enabled = true; overwrite = true; file = "${params.outdir}/pipeline_info/trace.txt" }